<div class="notice-page">
  <nz-card [nzBordered]="false" class="search-card">
    <form nz-form nzLayout="inline" [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-control>
          <input nz-input formControlName="noticeTitle" placeholder="公告标题" class="field-md" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <input nz-input formControlName="createBy" placeholder="操作人员" class="field-md" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="noticeType" nzPlaceHolder="公告类型" nzAllowClear class="field-md">
            @for (item of noticeTypeOptions(); track item.value) {
              <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="getList()"><nz-icon nzType="search" />搜索</button>
          <button nz-button class="gap-left" (click)="resetQuery()"><nz-icon nzType="reload" />重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>

  <nz-card [nzBordered]="false" class="table-card">
    <div class="toolbar">
      <button nz-button nzType="primary" *appHasPermi="['system:notice:add']" (click)="openAdd()">
        <nz-icon nzType="plus" />新增
      </button>
      <button
        nz-button
        *appHasPermi="['system:notice:edit']"
        [disabled]="!selection.single()"
        class="gap-left"
        (click)="openEdit(selectedRows()[0])"
      >
        <nz-icon nzType="edit" />修改
      </button>
      <button
        nz-button
        nzDanger
        *appHasPermi="['system:notice:remove']"
        [disabled]="!selection.multiple()"
        class="gap-left"
        (click)="delete()"
      >
        <nz-icon nzType="delete" />删除
      </button>
      <button nz-button *appHasPermi="['system:notice:export']" class="gap-left" (click)="export()">
        <nz-icon nzType="download" />导出
      </button>
    </div>

    <nz-table
      nzSize="middle"
      [nzData]="rows()"
      [nzLoading]="loading()"
      [nzTotal]="total()"
      [nzPageIndex]="pageNum"
      [nzPageSize]="pageSize"
      [nzFrontPagination]="false"
      [nzShowSizeChanger]="true"
      [nzShowTotal]="totalTpl"
      (nzQueryParams)="onQueryParams($event)"
    >
      <thead>
        <tr>
          <th nzWidth="50px">
            <label
              nz-checkbox
              [ngModel]="selection.allChecked()"
              [nzIndeterminate]="selection.indeterminate()"
              (ngModelChange)="selection.onAllChecked($event, rows())"
            ></label>
          </th>
          <th nzWidth="90px">公告编号</th>
          <th>公告标题</th>
          <th nzWidth="110px">公告类型</th>
          <th nzWidth="90px">状态</th>
          <th nzWidth="120px">创建者</th>
          <th nzWidth="180px">创建时间</th>
          <th nzWidth="140px" nzRight>操作</th>
        </tr>
      </thead>
      <tbody>
        @for (row of rows(); track row.noticeId) {
          <tr>
            <td>
              <label
                nz-checkbox
                [ngModel]="selection.isChecked(row)"
                (ngModelChange)="selection.onItemChecked(row.noticeId, $event)"
              ></label>
            </td>
            <td>{{ row.noticeId }}</td>
            <td>{{ row.noticeTitle }}</td>
            <td><app-dict-tag [value]="row.noticeType" dictType="sys_notice_type" /></td>
            <td><app-dict-tag [value]="row.status" dictType="sys_notice_status" /></td>
            <td>{{ row.createBy }}</td>
            <td>{{ row.createTime }}</td>
            <td nzRight>
              <a *appHasPermi="['system:notice:edit']" class="gap-left" (click)="openEdit(row)">
                <nz-icon nzType="edit" />修改
              </a>
              <a *appHasPermi="['system:notice:remove']" class="gap-left" (click)="delete(row)">
                <nz-icon nzType="delete" />删除
              </a>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>

<ng-template #totalTpl let-total>共 {{ total }} 条</ng-template>

<nz-modal
  [nzVisible]="dialogVisible()"
  (nzVisibleChange)="dialogVisible.set($event)"
  (nzOnCancel)="dialogVisible.set(false)"
  [nzTitle]="dialogTitle()"
  nzWidth="720px"
  nzOkText="确定"
  nzCancelText="取消"
  [nzOkLoading]="submitting()"
  (nzOnOk)="submitForm()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzFor="noticeTitle" nzRequired>公告标题</nz-form-label>
            <nz-form-control nzErrorTip="请输入公告标题">
              <input nz-input formControlName="noticeTitle" placeholder="请输入公告标题" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="noticeType" nzRequired>公告类型</nz-form-label>
            <nz-form-control nzErrorTip="请选择公告类型">
              <nz-select formControlName="noticeType" nzPlaceHolder="请选择公告类型">
                @for (item of noticeTypeOptions(); track item.value) {
                  <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="status">状态</nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="status">
                @for (item of statusOptions(); track item.value) {
                  <label nz-radio [nzValue]="item.value">{{ item.label }}</label>
                }
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzFor="noticeContent">内容</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="noticeContent" rows="6" placeholder="请输入公告内容"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>
